@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #363636;
}
.log{
    display: flex;
    justify-content: center;
    padding: 150px 0;
}
.card{
    background-color: #232323;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 350px;
    border-radius: 1px;
    box-shadow: 1px 1px 5px #000000;
}
.danger{
    text-align: left;
    margin: 5px 10px 0;
    font-size: 12px;
    color: red;
}
.txt{
    width: 380px;
    margin: 7px 0;
    padding: 2px;
    border: none;
    border-bottom: 1px solid #ffffff;
    background: none;
    color: #ffffff;
}
.txt::placeholder{
    color: #ffffff;
}
.botoes{
    display: flex;
}
.tit-form{
    margin: 20px 0;
}
.btn{
    width: 50%;
    margin: 5px 10px;
    padding: 3px;
    background: #808080;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
}
.espaco{
    margin: 10px;
    color: #ffffff;
}
.spaces{
    display: flex;
    flex-direction: column;
    margin: 100px 0;
}
.spc-card{
    display: flex;
    justify-content: center;
}
.its{
    display: flex;
    flex-direction: column;
}
.form-esps{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.form-esp{
    display: flex;
    flex-direction: column;
}
.txt-spc{
    border: 1px solid #ffffff;
    padding: 3px;
    background: transparent;
    border-radius: 4px;
    color: #ffffff;
    transition: 0.5s;
    margin: 5px 0;
}
.txt-spc::placeholder{
    color: #ffffff;
    transition: 0.5s;
}
.txt-spc:focus{
    color: #FF0000;
    border: 1px solid #FF0000;
}
.txt-spc:focus::placeholder{
    color: #FF0000;
}
.btn-spc{
    border: none;
    background: transparent;
    color: #ffffff;
    transition: 0.5s;
    margin: 5px 0;
    cursor: pointer;
}
.btn-spc:hover{
    color: #FF0000;
}
.cards-stt{
    display: flex;
    justify-content: space-evenly;
}
#form-task-pdt{
    display: none;
}
#form-task-ttm{
    display: none;
}
#form-task-ccd{
    display: none;
}
.add-task{
    cursor: pointer;
}
.card-col{
    background-color: #696969;
    padding: 15px;
    margin: 50px 10px;
    height: 500px;
    width: 270px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #000000;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
    color: #000000;
}
.card-col::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}
.card-col::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 4px;
    transition: 0.5s;
}
.card-col::-webkit-scrollbar-thumb:hover {
    background-color: #000;
}
.card-col:hover{
    box-shadow: 1px 1px 10px #000000;
}
.card-task{
    background: #363636;
    width: 240px;
    height: 70px;
    padding: 7px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 4px;
    transition: 0.5s;
    box-shadow: 1px 1px 3px #000000;
}
.card-task:hover{
    background: #3b3b3b;
    box-shadow: 1px 1px 6px #000000;
}
.card-task p, .card-task i{
    color: #ffffff;
    transition: 0.5s;
}
.card-task p:hover, .card-task i:hover{
    color: #d400ff;
}
.col-tit{
    text-align: center;
}
.txt-ins-task{
    border: #000000 solid 1px;
    width: 240px;
    padding: 3px;
    color: #000000;
    transition: 0.5s;
    background: #5a5a5a;
    margin: 8px 0;
    border-radius: 4px;
}
.txt-ins-task::placeholder{
    color: #000000;
}
.desc-ins-task{
    border: #000000 solid 1px;
    width: 240px;
    padding: 3px;
    color: #000000;
    transition: 0.5s;
    background: #5a5a5a;
    margin: 8px 0;
    border-radius: 4px;
    height: 90px;
}
.desc-ins-task::placeholder{
    color: #000000;
}
.desc-ins-task::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}
.desc-ins-task::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 4px;
    transition: 0.5s;
}
.desc-ins-task::-webkit-scrollbar-thumb:hover {
    background-color: #000;
}
.btn-form-task{
    display: flex;
}
.btn-ins-task{
    width: 50%;
    background: #5a5a5a;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}